@inherits ProCompontentBase
@page "/pages/resource"

<div class="d-flex">
    <MNavigationDrawer Permanent Class="rounded-4" Width="242" Style="height:calc(100vh - 126px );">
        <div class="flex mt-4">
             <SSearch @bind-Value="SearchName" Class="pb-4" Style="width: 194px; margin: auto"></SSearch>
        </div>
        <div style="min-width:242px; display:flex; flex-direction:column; align-items:center; overflow: auto; height:calc(100vh - 250px );">
            <MList Width="194" Dense>
                <MListItemGroup Class="rounded-2 scheduler-list"
                                @bind-Value="@SelectedIdentity"
                                Mandatory
                                Color="@Color">
                   
                    @foreach (var project in _projects)
                    {
                        @if (project.Children.Any())
                        {
                            <MListGroup @bind-Value="project.Expanded" SubGroup NoAction>
                                <ActivatorContent>
                                    <MListItemTitle>@project.Title</MListItemTitle>
                                </ActivatorContent>
                                <ChildContent>
                                    @foreach (var subitem in project.Children)
                                    {
                                        <MListItem Link Value="@subitem.Identity" Style="padding-left:50px;" Class="rounded-2 project-list">
                                            <MListItemTitle>@subitem.Title</MListItemTitle>
                                        </MListItem>
                                    }
                                </ChildContent>
                            </MListGroup>
                        }
                    }
                </MListItemGroup>
            </MList>
        </div>
    </MNavigationDrawer>

    @if (!string.IsNullOrWhiteSpace(LastSelectedAppIdentity))
    {
        <MNavigationDrawer Permanent Class="rounded-4 ml-6" Width="242" Style="height:calc(100vh - 126px );">
            <div class="d-flex mt-4">
                <MButton Rounded Color="primary" Dark Class="mb-4 ml-6" OnClick="AddResourceFile" Width="194" Style="margin:auto"> @T("AddResourceFiles") </MButton>
            </div>
            <div style="min-width:242px; display:flex; flex-direction:column; align-items:center; overflow: auto; height:calc(100vh - 250px );">
                <MList Width="194">
                    <MListItemGroup Class="rounded-2"
                                @bind-Value="@SelectedResourceId"
                                Mandatory
                                Color="#A3AED0">
                        
                        @foreach (var resouce in _resources)
                        {
                            <MListItem Class="rounded-2 project-list" Value="resouce.Id.ToString()" Dense>
                                <MListItemTitle>
                                    @resouce.Version
                                </MListItemTitle>
                                <MListItemIcon>
                                    <MIcon OnClick="()=> ShowDialog(ConfirmDialogTypes.DeleteResourceVersion, resouce.Id)"> mdi-delete-outline </MIcon>
                                </MListItemIcon>
                            </MListItem>
                        }
                    </MListItemGroup>
                </MList>
            </div>
            @if (_resources.Any())
            {
                <MButton Class="d-flex" OnClick="()=> ShowDialog(ConfirmDialogTypes.DeleteResources, Guid.Empty)" Style="margin:auto" Text Color="red">@T("DeleteResources")</MButton>   
            }
        </MNavigationDrawer>
    }

    <SSimpleDialog OkText="@T("SureDelete")" OnOk="OnSureDelete" @bind-Value="_showConfirmDialog" Title="@_confirmTitle" HideCancel OkColor="#FF5252" OkClass="full-width scheduler-confirm-dialog-ok-button">
        <ChildContent>
            <span class="d-flex d-flex flex-column justify-center align-center" style="text-align:center">
                @_confirmMessage
            </span>
        </ChildContent>
    </SSimpleDialog>

    @if (_isAdd)
    {
        <AddSchedulerResourceFiles Model="Model" OnAfterSubmit="AfterSubmit" Resources="_resources">
        </AddSchedulerResourceFiles>
    }
    else if(_selectedResourceDto != null)
    {
        <SchedulerResourceFilesInformation Model="_selectedResourceDto"></SchedulerResourceFilesInformation>
    }
</div>
