@inherits ProCompontentBase
@inject Masa.Stack.Components.Configs.GlobalConfig GlobalConfig
@page "/pages/team"
@page "/pages/team/{teamId}"
<PageTitle>@T("ProjectTeam")</PageTitle>
<MTabs @bind-Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">
    <MTab class="text-capitalize pa-0" Value="0">
        <ChildContent>
            <span class="mtab-tab-line @(_curTab.ToInt32() >= 0 ?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
            <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32() >= 0 ?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
            @if(_jobTabName.Length > 5)
            {
                <MTooltip Bottom>
                    <ActivatorContent>
                        <span class="mtab-tab-title" @attributes="@context.Attrs">@_jobTabName.Substring(0, 5)...</span>
                    </ActivatorContent>
                    <ChildContent>
                        <span>@_jobTabName</span>
                    </ChildContent>
                </MTooltip>
            }
            else
            {
                <span class="mtab-tab-title">@_jobTabName</span>
            }
        </ChildContent>
    </MTab>
    <MTab class="text-capitalize pa-0" Value="1" Disabled="@(_selectedJob == null)">
        <ChildContent>
            <span class="mtab-tab-line @(_curTab.ToInt32() >= 1 ?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
            <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32() >= 1 ?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
            <span class="mtab-tab-title">@T("Task")</span>
        </ChildContent>
    </MTab>
</MTabs>

<MTabsItems Value="_curTab" Class="pt-2 full-height" Style="background-color:rgb(255 255 255 / 12%);height: calc(100vh - 169px) !important;">
    <MTabItem Class="full-height">
        <SchedulerJobs Project="_project" OnJobSelect="HandleJobSelect" Visible="JobVisible" TeamId="_teamId">
        </SchedulerJobs>
    </MTabItem>
    <MTabItem Class="full-height">
        <SchedulerTasks SelectedJob="_selectedJob" Visible="TaskVisible">
        </SchedulerTasks>
    </MTabItem>
</MTabsItems>