@inherits ProCompontentBase

<div class="pl-6" style="overflow: hidden; display:block;">
    <MRow Class="mx-1 my-2">
        <MButtonGroup Value="_jobCreateType.ToString()" Class="rounded-lg elevation-tab" Group Tile Dense Mandatory Borderless>
            @foreach (var (key, value) in GetEnumMap<JobCreateTypes>())
            {
                <MButton OnClick="async() => await SwitchJobCreateType(value)" Value="@value.ToString()" Ripple=false Class="rounded-lg" MinWidth=100>
                    @T(nameof(JobCreateTypes)+"."+key)
                </MButton>
            }
        </MButtonGroup>
    </MRow>
    <div Class="env-toolbar rounded-4" Style="background:#fff;padding:0 12px;">
        <MRow NoGutters Align="AlignTypes.Center">
            <div class="d-flex" style="width:100%; padding-top:5px; padding-bottom:5px">
                <MRadioGroup @bind-Value="QueryStatus" Row Style="margin-top:0px; padding-top:8px;" OnClick="RadioGroupClickHandler">
                    @foreach (KeyValuePair<string, TaskRunStatus> pair in _queryStatusList)
                    {
                        <MRadio TValue="TaskRunStatus" Value="pair.Value" Color="@ComputedStatusColor(pair.Value)">
                            <LabelContent>
                                <span style="color: @ComputedStatusColor(pair.Value)"> @T(pair.Key) </span>
                            </LabelContent>
                        </MRadio>
                    }
                </MRadioGroup>
                <MSpacer></MSpacer>
                <MTextField @bind-Value="QueryJobName" Color="primary" Class="rounded-2 search" Style="max-width:340px;" Placeholder="@T("Search")" HideDetails="@("auto")" Flat Dense Solo BackgroundColor="fill-lighten-1">
                    <PrependInnerContent>
                        <MIcon Size=16 Class="mr-2 neutral-lighten-1--text">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>

                <MButton Icon OnClick="ShowFilter">
                    <MIcon>
                        @_filterIcon
                    </MIcon>
                </MButton>

                @if(_jobCreateType == JobCreateTypes.Manual)
                {
                    <MButton Color="primary" Class="rounded-4" OnClick="AddJob">
                        @T("Add")
                    </MButton>
                }
            </div>
        </MRow>
        @if (_showFilter)
        {
            <MRow NoGutters Align="AlignTypes.Center" >
                <MCol Cols="2" Class="pa-2">
                    <MSelect @bind-Value="QueryJobType" HideDetails="@("auto")" Placeholder="@T("JobType")" Outlined Dense Clearable Items="GetEnumMap<JobTypes>()" ItemText="kv => T(kv.Key)" ItemValue="kv=>kv.Value">
                    </MSelect>
                </MCol>

                @if (_jobCreateType == JobCreateTypes.Api)
                {
                    <MCol Cols="2" Class="pa-2">
                        <MSelect @bind-Value="QueryOrigin" HideDetails="@("auto")" Placeholder="@T("Origin")" Outlined Dense Clearable Items="_originList" ItemText="origin=>origin" ItemValue="origin=>origin">
                        </MSelect>
                    </MCol>
                }
            </MRow>
        }
    </div>
    
    <div class="rounded-2 mt-6" style="height:calc(100vh - @(_contentHeight)); overflow-y:auto; overflow-x:hidden">
       <MRow Style="min-height:10px;">
            @foreach(var job in _jobs)
            {
                <MCol Cols="12">
                    <MCard Height="69" Style="border-radius:10px !important;" Class="@GetJobClass(job)" Color="@GetJobColor(job)" OnClick="()=> HandleJobSelect(job)">
                        <MCardTitle Style="padding-top: 6px; padding-left:10px; padding-bottom:6px;">
                            <MChip
                               Class="job-text"
                               TextColor="primary"
                               Style="height:25px; background-color:#F0F3FA"
                               Label>
                                @T(job.JobType.ToString())
                            </MChip>
                            <div style="padding-left:8px; font-weight:500; max-width:70%" class="job-text job-name text-truncate">
                                @job.Name
                            </div>
                            <MSpacer />
                            @if(!string.IsNullOrWhiteSpace(job.UserName))
                            {
                                <MTooltip Top>
                                    <ActivatorContent>
                                        <MAvatar Size="24" @attributes="@context.Attrs">
                                            <MImage Src="@job.Avator"></MImage>
                                        </MAvatar>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <span>@T("Owner"): @job.UserName</span>
                                    </ChildContent>
                                </MTooltip>
                            }
                            @if(_jobCreateType == JobCreateTypes.Api)
                            {
                                <MChip
                                   Class="job-text ml-1"
                                   Style="height:25px; background-color:#F0F3FA"
                                   >
                                    @job.Origin
                                </MChip>
                            }
                        </MCardTitle>
                        <MCardText Style="height:24px; padding-left:10px; padding-right:16px; display:inline-flex">
                            <MButton Icon XSmall Class="run-icon" Style="cursor:default">
                                <MIcon >mdi-checkbox-blank-circle</MIcon>
                            </MButton>
                            <div style="padding-left:8px;padding-top: 2px;" class="job-text run-text">
                                @GetJobRunText(job)
                            </div>
                            <MSpacer></MSpacer>
                            <MMenu Bottom Left>
                                <ActivatorContent>
                                    <MButton Icon @attributes="@context.Attrs" Width="24" Height="24" StopPropagation>
                                        <MIcon>mdi-dots-horizontal</MIcon>
                                    </MButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MList>
                                        @if (job.Enabled)
                                        {
                                            <MListItem Link OnClick="()=> RunJob(job)">
                                                <MListItemContent>
                                                    <MListItemTitle>
                                                        @T("Run")
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                        }
                                        <MListItem Link OnClick="()=> EditJob(job)">
                                            <MListItemContent>
                                                <MListItemTitle>
                                                    @T("Edit")
                                                </MListItemTitle>
                                            </MListItemContent>
                                        </MListItem>
                                        @if (job.Enabled)
                                        {
                                            <MListItem Link OnClick="()=> ShowDialog(ConfirmDialogTypes.DisabledJob, job.Id)">
                                                <MListItemContent>
                                                    <MListItemTitle>
                                                        @T("Disabled")
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                        }
                                        else
                                        {
                                             <MListItem Link OnClick="()=> ShowDialog(ConfirmDialogTypes.EnabledJob, job.Id)">
                                                <MListItemContent>
                                                    <MListItemTitle>
                                                        @T("Enabled")
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                        }

                                    </MList>
                                </ChildContent>
                            </MMenu>
                        </MCardText>
                    </MCard>
                </MCol>
            }
        </MRow>
        <SPagination Class="mt-4" @bind-Page="Page" @bind-PageSize=PageSize Total="_total" />

        <JobModal Model="modalModel" Visible="_modalVisible" VisibleChanged="OnVisibleChanged" Project="Project" OnAfterDataChange="OnAfterDataChange"></JobModal>
    </div>
</div>

<SSimpleDialog OkText="@T("Sure")" OnOk="OnSure" @bind-Value="_showConfirmDialog" Title="@_confirmTitle" HideCancel OkColor="#FF5252" OkClass="full-width scheduler-confirm-dialog-ok-button">
    <ChildContent>
        <span class="d-flex flex-column justify-center align-center" style="text-align:center">
            @_confirmMessage
        </span>
    </ChildContent>
</SSimpleDialog>