@inherits ProComponentBase
<AutoHeight Overflow>
    <HeaderContent>
        <div class="search-panel my-6">
            <MRow Class="flex-none d-inline-flex" NoGutters Style="@(_jobCreateType == JobCreateTypes.Manual?"width: calc(100% - 378px)":"width: calc(100% - 236px)")">
                <MCol Md="1" Style="min-width: 154px">
                    <Projects OnProjectChanged="OnProjectChangedAsync" TeamId="TeamId">
                    </Projects>
                </MCol>
                <MCol Md="3" Class="ml-6" Style="min-width: 144px; max-width: 230px">
                    <SLabeledRadioGroup Value="_jobCreateType" ActiveClass="fill-background" Class="white" Dense TValue="JobCreateTypes" ValueChanged="SwitchJobCreateType">
                        @foreach (var item in Enum.GetValues<JobCreateTypes>())
                        {
                            <SLabeledRadio Value="item" Class="px-6">
                                <span class="@(_jobCreateType == item ? "subtitle2 emphasis2--text" : "btn regular2--text")">@T(nameof(JobCreateTypes)+"."+item)</span>
                            </SLabeledRadio>
                        }
                    </SLabeledRadioGroup>
                </MCol>
                <MCol Md="1" Class="ml-6" Style="min-width: 114px">
                    <SSelect Small @bind-Value="QueryTimeType"
                        Items="_jobQueryTimeTypeList"
                        Label="@T("JobQueryTimeType")"
                        ItemText="e => T(e==default?string.Empty:e.ToString())"
                        ItemValue="e=> e"
                        BackgroundColor="white"
                        Class="rounded-2 body2">
                    </SSelect>
                </MCol>
                <MCol Md="3" Class="ml-6" Style="max-width:420px">
                    <DateTimeRangePicker @bind-StartTime="QueryStartTime" @bind-EndTime="QueryEndTime" OnChange="()=>OnQueryDataChanged()" />
                </MCol>
                <MCol Md="1" Class="ml-6" Style="min-width:139px">
                    <SSelect Small @bind-Value="QueryJobType"
                        Items="Enum.GetValues<JobTypes>().ToList()"
                        Label="@T("JobType")"
                        ItemText="e => T(e==default?string.Empty:e.ToString())"
                        ItemValue="e=> e"
                        BackgroundColor="white"
                        Clearable
                        Class="rounded-2 body2">
                    </SSelect>
                </MCol>
                @if (_jobCreateType == JobCreateTypes.Api)
                {
                    <MCol Md="1" Class="ml-6">
                        <SSelect Small Clearable @bind-Value="QueryOrigin"
                            Items="_originList"
                            Label="@T("Origin")"
                            ItemText="e => e"
                            ItemValue="e=> e"
                            BackgroundColor="white"
                            Class="rounded-2 body2">
                        </SSelect>
                    </MCol>
                }
            </MRow>
            <div class="d-flex search-panel-right">
                <OutlinedSearchTextField Style="width:300px" @bind-Value="QueryJobName" BackgroundColor="white" PrependInnerIcon="@IconConstants.Search" />
                @if (_jobCreateType == JobCreateTypes.Manual)
                {
                    <SButton Small Color="primary" BorderRadiusClass="rounded-lg" Class="ml-6" OnClick="AddJob">@T("Add")</SButton>
                }
            </div>
        </div>
        <MRadioGroup @bind-Value="QueryStatus" Row OnClick="RadioGroupClickHandler" Class="masa-radiogroup">
            <MRadio TValue="TaskRunStatus" Value="default" Color="green">
                <LabelContent>
                    <span>@T("All")</span>
                </LabelContent>
            </MRadio>
            @foreach (KeyValuePair<string, TaskRunStatus> pair in _queryStatusList)
            {
                <MRadio TValue="TaskRunStatus" Value="pair.Value" Color="green">
                    <LabelContent>
                        <span>@T(pair.Key)</span>
                    </LabelContent>
                </MRadio>
            }
        </MRadioGroup>
    </HeaderContent>
    <AutoHeightContent>
        <MRow Class="mt-6" Style="position:relative;">
            @if (_jobs.Any())
            {
                foreach (var job in _jobs)
                {
                    <MCol Md="6">
                        <MCard Height="115" Class="pt-2" OnClick="()=> HandleJobSelect(job)" Style="@($"border-radius:10px !important; {(job.Enabled?"":"opacity: 0.6")}")">
                            <MCardTitle>
                                <MChip Class="job-text btn"
                                   TextColor="emphasis2"
                                   Style="height:25px; background-color:#F0F3FA"
                                      Label>
                                    @T(job.JobType.ToString())
                                </MChip>
                                <div class="job-text job-name text-truncate emphasis2--text h7 ml-2">
                                    @job.Name
                                </div>
                            </MCardTitle>
                            <MCardText Class="d-flex height-inherit">
                                <MButton Icon XSmall Color="@GetJobColor(job)" Class="run-icon" Style="cursor:default">
                                    <MIcon>mdi-checkbox-blank-circle</MIcon>
                                </MButton>
                                <div class="job-text run-text pl-2 body2" style="color:@(GetJobColor(job))">
                                    @GetJobRunText(job)
                                </div>
                                <div class="d-flex px-1 mt-2" style="height: 8px">
                                    <MDivider Vertical />
                                </div>
                                <div class="body2 regular3--text">@job.ModificationTime.Humanize(culture:I18n.Culture) </div>
                                <MSpacer></MSpacer>
                                @if (_jobCreateType == JobCreateTypes.Api)
                                {
                                    <MChip Class="job-text emphasis2--text btn"
                                        Style="height:25px; background-color:#F0F3FA">
                                        @job.Origin
                                    </MChip>
                                }
                                @if (!string.IsNullOrWhiteSpace(job.UserName))
                                {
                                    <MTooltip Top>
                                        <ActivatorContent>
                                            <MAvatar Size="24" @attributes="@context.Attrs" Class="ml-4">
                                                <MImage Src="@job.Avator"></MImage>
                                            </MAvatar>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <span>@T("Owner"): @job.UserName</span>
                                        </ChildContent>
                                    </MTooltip>
                                }
                                else
                                {
                                    <MTooltip>
                                        <ActivatorContent>
                                            <MAvatar Size="24" @attributes="@context.Attrs" Class="ml-4">
                                                <MImage Src=""></MImage>
                                            </MAvatar>
                                        </ActivatorContent>
                                        <ChildContent>
                                            <span></span>
                                        </ChildContent>
                                    </MTooltip>
                                }
                                <MMenu Bottom Left>
                                    <ActivatorContent>
                                        <MButton Icon @attributes="@context.Attrs" Width="24" Height="24" StopPropagation Class="ml-4">
                                            <MIcon>mdi-dots-vertical</MIcon>
                                        </MButton>
                                    </ActivatorContent>
                                    <ChildContent>
                                        <MList>
                                            @if (job.Enabled)
                                            {
                                                <MListItem Link OnClick="()=> RunJob(job)">
                                                    <MListItemContent Class="pl-6 pr-16">
                                                        <MListItemTitle>
                                                            <MIcon Color="#323D6F" Class="align-self-center mr-3">fas fa-spinner</MIcon>
                                                            @T("Run")
                                                        </MListItemTitle>
                                                    </MListItemContent>
                                                </MListItem>
                                            }
                                            <MListItem Link OnClick="()=> EditJob(job)">
                                                <MListItemContent Class="pl-6 pr-16">
                                                    <MListItemTitle>
                                                        <MIcon Color="#323D6F" Class="align-self-center mr-3">mdi-pencil</MIcon>
                                                        @T("Edit")
                                                    </MListItemTitle>
                                                </MListItemContent>
                                            </MListItem>
                                            @if (job.Enabled)
                                            {
                                                <MListItem Link OnClick="()=> ShowDialog(ConfirmDialogTypes.DisabledJob, job.Id)">
                                                    <MListItemContent Class="pl-6 pr-16">
                                                        <MListItemTitle>
                                                            <MIcon Color="red" Class="align-self-center mr-3">mdi-minus-circle</MIcon>
                                                            @T("Disabled")
                                                        </MListItemTitle>
                                                    </MListItemContent>
                                                </MListItem>
                                            }
                                            else
                                            {
                                                <MListItem Link OnClick="()=> ShowDialog(ConfirmDialogTypes.EnabledJob, job.Id)">
                                                    <MListItemContent Class="pl-6 pr-16">
                                                        <MListItemTitle>
                                                            <MIcon Color="green" Class="align-self-center mr-3">mdi-check-circle</MIcon>
                                                            @T("Enabled")
                                                        </MListItemTitle>
                                                    </MListItemContent>
                                                </MListItem>
                                            }
                                        </MList>
                                    </ChildContent>
                                </MMenu>
                            </MCardText>
                        </MCard>
                    </MCol>
                }
            }
            else if(!_showProgressbar)
            {
                <SEmptyPlaceholder Height="calc(100vh - 340px);" />
            }
            <Loading ShowProgressbar="_showProgressbar" Style="height: calc(100vh - 370px)" />
        </MRow>
    </AutoHeightContent>
    <FooterContent>
        @if (_jobs.Any())
        {
            <SPagination Class="mr-6 pb-2" @bind-Page="Page" @bind-PageSize=PageSize Total="_total" />
        }        
    </FooterContent>
</AutoHeight>

<JobModal @ref="_jobModal" Project="Project" OnAfterDataChange="OnAfterDataChange"></JobModal>
<SSimpleDialog OkText="@T("Sure")" OnOk="OnSure" @bind-Value="_showConfirmDialog" Title="@_confirmTitle" HideCancel OkColor="#FF5252" OkClass="full-width scheduler-confirm-dialog-ok-button">
    <ChildContent>
        <span class="d-flex flex-column justify-center align-center" style="text-align:center">
            @_confirmMessage
        </span>
    </ChildContent>
</SSimpleDialog>