@inherits ProCompontentBase

<div Class="env-toolbar ml-4 rounded-4" Style="background:#fff; width:66%">
    <div class="full-height flex-column">
        <div class="mt-2 pl-4 pr-4"> @GetUploadDescription() </div>
        <MRow Class="my-1" Style="text-align:center">
            <MCol Cols="12">
                <MIcon Large>
                    mdi-file-multiple
                </MIcon>
            </MCol>
        </MRow>
        <MRow Class="mt-1" Style="text-align:center">
            <MCol Cols="12">
                @Model.Name
            </MCol>
        </MRow>
        <MRow Class="mt-1" Style="text-align:center">
            <MCol Cols="12">
                <a class="text-decoration-none" @onclick="Download">@T("Download")</a>
            </MCol>
        </MRow>
        <MRow Class="pl-4 pr-4">
            <MCol Cols="12">
                <MTextarea Readonly Value="@Model.Description" Label="@T(nameof(Model.Description))" HideDetails="@("auto")" Outlined />
            </MCol>
        </MRow>
    </div>
</div>